@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
  body {
    
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    animation: transitionIn 2s;
}

 @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}  
.container{
    width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
    border: 8px solid rgb(0, 0, 0) ;
    border-radius: 10px;
    height: 50%;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#display{
    text-align: right;
    height: 70px;
    line-height: 90px;
    padding: 16px 8px; 
    font-size: 45px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight:400;
    position:-webkit-sticky;
    font-synthesis:initial;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    
}

.buttons > div{
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.button{
    border: 0.5px solid #999;
    line-height: 80px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 65px;
    margin: 2%;
    font-family: sans-serif;
}

#equal{
    background-color: green;
    color: white;
}

#equal:hover{
    color: white;
    background: rgb(14, 100, 15);
}

#clear{
    color: orangered;
}

#clear:hover{
    color:white;
    background-color: rgb(206, 113, 79);
    
}

.button:hover {
    background-color: rgba(164, 164, 164, 0.28);
}
.clear{
    color: white;
    transition: 0.2s ease-in;
} 

.green{
    color: green;
}

.green:hover{
    color: rgb(255, 0, 0);
    background-color: rgba(164, 164, 164, 0.28);
}

h2{
    text-align: center;
    background: linear-gradient( 90deg, #ff0000, #33ff00, #0033ff,#ff00c4, #ff0000);
    color: white;
    border: 2px solid rgb(255, 255, 255);
    width: 99%;
    transition: 1s ease-in;
    border-radius: 10px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Georgia;
    font-size:xx-large;
}

